<div id="<%= dom_id practice_exam %>">
  <p>
    <strong>Exam:</strong>
    <%= practice_exam.exam_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= practice_exam.user_id %>
  </p>

  <p>
    <strong>Custom max num questions:</strong>
    <%= practice_exam.custom_max_num_questions %>
  </p>

  <p>
    <strong>Custom max duration:</strong>
    <%= practice_exam.custom_max_duration %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= practice_exam.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= practice_exam.end_time %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= practice_exam.score %>
  </p>

</div>
