<h1>Practice Exam Scores</h1>
<br>
<%longer_practice_exam_data = @longer_practice_exams.map { |exam| [exam[0], exam[2]] }%>
<%shorter_practice_exam_data = @shorter_practice_exams.map { |exam| [exam[0], exam[2]] }%>

<div>
  <%if @aws_exam.present?%>
    <div>
      <div class="chart-exam-name">
        <h3>
          AWS Cloud Practitioner
        </h3>
      </div>
      <br>
      <%if longer_practice_exam_data.present?%>
        <div>
          <h3> Long Exams</h3>
          <div class="chart-container">
            <%= column_chart longer_practice_exam_data,
      xtitle: "Date Submitted", ytitle: "Score %", 
      height: "30rem",
      colors: ["#26C5F3", "#9C43F8", "#6D77F6", "#B429F9"],
      library: {
          scales: {
            x: {
              ticks: {
                color: "white"
              },
              title: {
                color: "white"
              }
            },
            y: {
              ticks: {
                color: "white", 
              },
              title: {
                color: "white" 
              },
              suggestedMax: 50,
              suggestedMin: 0, 
              beginAtZero: true
            }
          }

        }
      %>
          </div>
        </div>
      <%else%>
        <div class="chart-text">
          <h3>You haven't taken a long exam, take one below!</h3>
          <%= link_to "Take an Exam", exams_path, class: "btn btn-primary" %>
        </div>
      <%end%>

      <br>
      <%if shorter_practice_exam_data.present?%>
        <div>
          <h3>Short Exams</h3>
          <div class="chart-container">
            <%= column_chart shorter_practice_exam_data,
      xtitle: "Date Submitted", ytitle: "Score %", 
      height: "30rem",
      colors: ["#26C5F3", "#9C43F8", "#6D77F6", "#B429F9"],
      library: {
          scales: {
            x: {
              ticks: {
                color: "white"
              },
              title: {
                color: "white" 
              },
              xAxis: { format: 'MM/dd' }
            },
            y: {
              ticks: {
                color: "white" 
              },
              title: {
                color: "white" 
              },
              suggestedMax: 50, 
              suggestedMin: 0, 
              beginAtZero: true
            }
          }

        }
      %>
          </div>
        </div>
      <%else%>
        <div class="chart-text">
          <h3>You haven't taken a short exam, take one below!</h3>
          <%= link_to "Take an Exam", exams_path, class: "btn btn-primary" %>
        </div>
      <%end%>
    </div>
  <% else %>
    <div class="chart-text">
      <h3>You haven't taken an exam yet.</h3>
      <%= link_to "Take one now!", exams_path, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
