<!DOCTYPE html>
<html>
  <head>
    <title>Nexus Exam</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <%= render partial: "shared/cdn_assets" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-dgd/ivfT48CJQxcm3QHkjgqCaLj9vVug9jFCV8vz8jvpB+Y5JFIyhgRn4+UT0Fi7V77dyNw24zftVZ0GKv7ypA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: "shared/navbar" %>
    <div class="container">

      <% if notice.present? %>
        <%= render partial: "shared/flash", locals: { message: notice, css_class: "success" } %>
      <% end %>

      <% if alert.present? %>
        <%= render partial: "shared/flash", locals: { message: alert, css_class: "danger" } %>
      <% end %>
      <%= yield %>
    </div>

  </body>
</html>
